.logo {
    height: 50px;
}

p {
    color: white !important;
    text-decoration: none !important;
}


.flex {
    text-decoration: none !important;
}


.flex:hover {
    opacity: .8;
}

.headerhome {
    z-index: 0 !important;
    width: 100% !important;
    height: 500px !important;
    background-image: url("https://lapantallainvisible.files.wordpress.com/2013/10/breaking-bad-logo.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
    color: white;
}

.fv {
    padding-top: 6em;
    padding-left: 2em !important;
    
}

a {
    color: white !important;
    text-decoration: none !important;
}

#border {
    width: 160px !important; 
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

.headercharacter {
    z-index: 0 !important;
    width: 100% !important;
    height: 500px !important;
    background-image: url("https://cdn.vox-cdn.com/thumbor/k34mm_1kkLwFNVAdzYyCdxORHQc=/0x0:3000x2000/1200x800/filters:focal(1281x491:1761x971)/cdn.vox-cdn.com/uploads/chorus_image/image/65361653/shaker_camino_10.0.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerepisodes {
    z-index: 0 !important;
    width: 100% !important;
    min-height: 500px !important;
    background-image: url("https://dg31sz3gwrwan.cloudfront.net/fanart/81189/406321-0-q80.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(23, 33, 41);
}

.stat {
    height: 300px !important;
}

.infohome {
    display: flex;
    align-items: center;
    justify-content: center;
}

#find {
    border-radius: 10px;
    padding: 6px;
    width: 300px;
    outline: none !important;
}

#sbm {
    background-color: rgb(157, 158, 211);
    display: none;
}

.allepisodes {
    margin-top: 4em;
    z-index: 0 !important;
    width: 100% !important;
    min-height: 300px !important;
    background-image: url("https://dg31sz3gwrwan.cloudfront.net/fanart/81189/406321-0-q80.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ctae {
    padding:6px ;
    border: 1px solid white;
    border-radius: 15px;
    width: 400px;
}

.allcharacters {
    margin-top: 4em;
    z-index: 0 !important;
    width: 100% !important;
    min-height: 300px !important;
    background-image: url("https://cdn.vox-cdn.com/thumbor/k34mm_1kkLwFNVAdzYyCdxORHQc=/0x0:3000x2000/1200x800/filters:focal(1281x491:1761x971)/cdn.vox-cdn.com/uploads/chorus_image/image/65361653/shaker_camino_10.0.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px){
    .ctae {
        width: 370px;
    }
}